<div class="row">
  <div class="col-md-12 portlet light">
    <div class="portlet-title">
      <div class="caption">Overview</div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-6 center">
          <div>
            <!-- <span class="eth-stat-title">Supply: {{ totalSupply | number: 2 }} {{ settings.symbol }} </span> -->
            <div class="margin-top-20">
              <span> List updates every 6 hours, click a address to see the current balance.</span>
              <br><br>
              {{ totalAccounts | number }} <span class="eth-stat-text"> Accounts</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 portlet light">
    <div class="portlet-body">
      <table id="table_accounts" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Address</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
