<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 portlet light">
    <div class="portlet-body">
      <table class="col-md-6 table table-hover">
        <tr >
          <td width="25%">Transaction Hash:</td>
          <td>{{tx.hash}}</td>
        </tr>
        <tr ng-show="tx.status">
          <td width="25%">Status:</td>
          <td>
            <span ng-show="tx.status==0" alt="A Status code indicating if the top-level call succeeded or failed (applicable for Post BYZANTIUM blocks only)"><font color="red"> Failed (Error encountered during transaction !)</font></span>
            <span ng-show="tx.status==1" alt="A Status code indicating if the top-level call succeeded or failed (applicable for Post BYZANTIUM blocks only)"><font color="green"> Success </font></span>
          </td>
        </tr>
        <tr >
          <td width="25%">Block:</td>
          <td>
            <a href="/block/{{tx.blockNumber}}">{{tx.blockNumber | number}}</a>
            <i class="fa fa-check-circle"></i>
            <ng-pluralize count="tx.confirmations" when="{'0': 'Pending confirmation', 'one': '1 block confirmation', 'other': '{} block confirmations'}"></ng-pluralize>
          </td>
        </tr>
        <tr >
          <td width="25%">TimeStamp:</td>
          <td><i class="fa fa-clock-o"></i> {{tx.timestamp | timeDuration}} ago ({{tx.datetime | date:'yyyy-MM-dd HH:mm:ss Z' }})</td>
        </tr>
        <tr >
          <td width="25%">From:</td>
          <td>
            <span ng-hide="tx.tokenFrom"><a href="/addr/{{tx.from}}">{{tx.from}}</a></span>
            <span ng-show="tx.tokenFrom"><a href="/addr/{{tx.tokenFrom}}">{{tx.tokenFrom}}</a></span>
          </td>
        </tr>
        <tr ng-show="tx.to">
          <td width="25%">To:</td>
          <td>
            <span ng-hide="tx.tokenTo"><a href="/addr/{{tx.to}}">{{tx.to}}</a></span>
            <span ng-show="tx.tokenTo"><a href="/addr/{{tx.tokenTo}}">{{tx.tokenTo}}</a></span>
          </td>
        </tr>
        <tr ng-show="tx.creates">
          <td width="25%">Creates:</td>
          <td><a href="/addr/{{tx.creates}}">{{tx.creates}}</a></td>
        </tr>
        <tr ng-hide="tx.value==0">
          <td width="25%">Value:</td>
          <td><span style="color:green"> <img src="/img/egem-icon.svg" alt="mini-logo" class="mini-logo" /> {{tx.value | number: 8}} {{ settings.symbol }}</span><span ng-show="settings.useFiat"> => {{ tx.valueUSD | currency : "USD $" : 4 }}</span></td>
        </tr>
        <tr ng-show="tx.tokenValue">
          <td width="25%">Token Value:</td>
          <td>{{tx.tokenValue | number: 8}} <a href="/addr/{{tx.tokenContract}}">{{ tx.tokenSymbol }}</a></td>
        </tr>
        <tr >
          <td width="25%">Transaction fee:</td>
          <td>{{tx.txFee | number : 6}} {{ settings.symbol }}<span ng-show="settings.useFiat"> => {{ tx.txFeeUSD | currency : "USD $" : 10 }}</span></td>
        </tr>
        <tr >
          <td width="25%">Gas Limit:</td>
          <td>{{tx.gas | number}}</td>
        </tr>
        <tr >
          <td width="25%">Gas Used by Transaction:</td>
          <td>{{tx.gasUsed | number}}</td>
        </tr>
        <tr >
          <td width="25%">Gas Price:</td>
          <td>{{tx.gasPriceEther | number:9}} {{ settings.symbol }} ({{tx.gasPriceGwei | number}} Gwei)</td>
        </tr>
        <tr >
          <td width="25%">Nonce:</td>
          <td>{{tx.nonce}}</td>
        </tr>
        <tr >
          <td width="25%">Input Data</td>
          <td>
            <pre class="code">{{tx.input}}</pre>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
