<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="BlocksApp">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <title data-ng-bind="'<%= settings.name %> | ' + $state.current.data.pageTitle"></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="<%= settings.title %>" name="description"/>
        <meta content="<%= settings.author %>" name="author" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

        <base href="/">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN DYNAMICALLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
        <link id="ng_load_plugins_before" />
        <!-- END DYNAMICALLY LOADED CSS FILES -->
        <!-- BEGIN THEME STYLES -->
        <link href="/css/components.min.css" id="style_components" rel="stylesheet" type="text/css" />
        <link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" />
        <link href="/css/green-haze.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME STYLES -->
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body ng-controller="MainController" class="page-header-fixed page-on-load" ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid}">
        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <img src="/img/loading.png">
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <div class="page-wrapper">
            <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                    <!-- BEGIN HEADER -->
                    <div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header"> </div>
                    <!-- END HEADER -->
                </div>
            </div>
            <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN PAGE HEAD -->
                        <div ng-show="!isHome" data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
                        <!-- END PAGE HEAD -->
                        <!-- BEGIN PAGE CONTENT -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN ACTUAL CONTENT -->
                                <div ui-view class="fade-in-up"> </div>
                                <!-- END ACTUAL CONTENT -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
            <div class="page-wrapper-row">
                <div class="page-wrapper-bottom">
                    <!-- BEGIN FOOTER -->
                    <div data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController"> </div>
                    <!-- END FOOTER -->
                </div>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN CORE JQUERY PLUGINS -->
        <script src="/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE JQUERY PLUGINS -->
        <!-- BEGIN CORE ANGULARJS PLUGINS -->
        <script src="/plugins/angularjs/angular.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <!-- END CORE ANGULARJS PLUGINS -->
        <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
        <script src="/js/app.min.js" type="text/javascript"></script>
        <script src="/js/web3utils.js" type="text/javascript"></script>
        <script src="/js/main.js" type="text/javascript"></script>
        <script src="/js/filters.js" type="text/javascript"></script>

        <script src="/js/directives.js" type="text/javascript"></script>
        <!-- END APP LEVEL ANGULARJS SCRIPTS -->
        <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
        <script src="/js/layout.min.js" type="text/javascript"></script>
        <script src="/plugins/d3.v3.min.js" type="text/javascript"></script>
        <script src="/plugins/d3.tip.min.js" type="text/javascript"></script>
        <script src="/plugins/lodash.min.js" type="text/javascript"></script>
        <!-- END APP LEVEL JQUERY SCRIPTS -->
        <link id="ng_load_plugins_after" />
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->

</html>
