<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
        <h2>About</h2>
        <p> {{settings.about}} </p>
        <span ng-bind-html="settings.poweredbyCustom" ng-if="settings.poweredbyCustom">{{settings.poweredbyCustom}}</span>
        <span ng-if="!settings.poweredbyCustom && settings.poweredbyImage"><a href="https://gitlab.com/ethergem/egem-explorer" target="_blank"><img height="51px" src="{{settings.poweredbyImage}}"></a></span>
        <p ng-if="!settings.poweredbyCustom && !settings.poweredbyImage && settings.poweredby"> Powered by <a href="https://gitlab.com/ethergem/egem-explorer" target="_blank">EGEM Explorer</a> </p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
        <h2>Follow Us On</h2>
        <ul class="social-icons">
          <li>
            <a ng-show="settings.rss" href="{{settings.rss}}" data-original-title="rss" class="rss"></a>
          </li>
          <li>
            <a ng-show="settings.twitter" href="{{settings.twitter}}" data-original-title="twitter" class="twitter"></a>
          </li>
          <li>
            <a ng-show="settings.github" href="{{settings.github}}" data-original-title="github" class="github"></a>
          </li>
        </ul>
      </div>
      <div ng-show="settings.symbol == 'EGEM'" class="col-md-6 col-sm-12 col-xs-12 footer-block">
        <h2>Help, it's Broken!</h2>
        <address class="margin-bottom-40">
          <br>Open Issue: <a href="https://gitlab.com/ethergem/egem-explorer/issues"> Gitlab</a>
          <br> <a href="mailto:info@egem.io">Email Bug</a>
          <br> <a href="{{settings.twitter}}">Twitter</a>
        </address>
      </div>
    </div>
  </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN POST-FOOTER -->
<div class="page-footer">
  <div class="container" ng-bind-html="settings.copyright"></div>
</div>
<div class="scroll-to-top">
  <i class="icon-arrow-up"></i>
</div>
<!-- END POST-FOOTER -->
