<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
  <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="/">
      <img ng-show="settings.logo" src="{{settings.logo}}" alt="logo" class="logo-default" />
      </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="#" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <form name="form.searchForm" class="search-form">
            <div class="input-group">
              <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum / BlockHash" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
              <span class="input-group-btn">
              <a class="btn" ng-click="searchQuery(form.searchInput)">
              <i class="icon-magnifier"></i>
              </a>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
  <div class="container">
    <!-- BEGIN MEGA MENU -->
    <div class="hor-menu hor-menu-light">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li ng-show="settings.useRichList">
          <a href="/accounts">Accounts</a>
        </li>
        <!-- <li>
          <a href="/token">Tokens</a>
        </li> -->
        <li class="menu-dropdown mega-menu-dropdown ">
          <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle"> Stats
          <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="mega-menu-content">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="mega-menu-submenu">
                      <li>
                        <a href="/stats/hashrate">
                        <i class="fa fa-line-chart"></i> Hashrate Chart </a>
                      </li>
                      <li>
                        <a href="/stats/miner_hashrate">
                        <i class="fa fa-line-chart"></i> Miner Distribution Chart</a>
                      </li>
                      <li>
                        <a href="/stats/difficulty">
                        <i class="fa fa-line-chart"></i> Difficulty Chart</a>
                      </li>
                      <li>
                        <a href="/stats/blocktime">
                        <i class="fa fa-line-chart"></i> Blocktime Chart</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- <li class="menu-dropdown classic-menu-dropdown ">
          <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#"> Misc
          <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu pull-left">
            <li>
              <a href="/contract">
              <i class="icon-check"></i> Verify Contract </a>
            </li>
          </ul>
        </li> -->
        <li class="menu-dropdown classic-menu-dropdown ">
          <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#"> Community
          <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu pull-left">
            <li>
              <a href="https://wiki.egem.io" target="_blank">
              <i class="fa fa-group"></i>
              <span class="title" data-toggle="tooltip" title="Community Wiki"> The Wiki</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- END MEGA MENU -->
  </div>
</div>
<!-- END HEADER INNER -->
